<title>{{ site_settings:site_name }}: {{ meta_title ? meta_title : title }}</title>
<link rel="canonical" href="{{ current_url }}" />

<meta property="og:title" content="{{ meta_title }}" />
<meta name="description" content="{{ meta_description }}" />
<meta property="og:site_name" content="{{ site_settings:site_name }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ current_url }}" />
<meta property="og:image" content="{{ glide:meta_image width="1600" height="630" }}" />
<meta name="theme-color" content="#283206" />
<link rel="icon" href="/favicon.svg" type="image/svg+xml" />