.btn{
    padding-block: .9em;
    padding-inline: 1.8em;
    display: inline flex;
    align-items: center;
    border-radius: var(--radius-4xl);
    gap: .5em;
    font-size: var(--size-200);
    justify-content: center;
    min-width: fit-content;
    line-height: var(--leading-flat);
    font-weight: 600;
    transition: 200ms all ease-in;
}

.btn[data-style='primary']{
  background-color: var(--color-primary);
  color: var(--color-light-glare)
}

.btn[data-style='secondary']{
  background-color: var(--color-secondary);
  color: var(--color-light-glare)
}

.btn[data-style='dark']{
  background-color: var(--color-dark-glare);
  color: var(--color-light-glare)
}

.btn[data-style='light']{
  background-color: var(--color-white);
  color: var(--color-dark)
}

.btn[data-style='primary-outline']{
  box-shadow: 0px 0px 0px 1px var(--color-primary) inset;
  color: var(--color-primary);
}

.btn[data-style='secondary-outline']{
  box-shadow: 0px 0px 0px 1px var(--color-secondary) inset;
  color: var(--color-secondary);
}

.btn[data-style='light-outline']{
  box-shadow: 0px 0px 0px 1px var(--color-light-glare) inset;
  color: var(--color-light-glare);

  &:hover{
    background-color: var(--color-primary);
    color: var(--color-dark-shade);
    box-shadow: 0px 0px 0px 0px;
  }
}

.btn[data-style='dark-outline'] {
  box-shadow: 0px 0px 0px 1px var(--color-dark) inset;
  color: var(--color-dark);
}