@source "../views/";
@source "../../app/";


@layer vendore, theme, base, components, a, compositions, tokens, block, utilities ;

@import "tailwindcss";

@import "./var" layer(a);
@import "./base" layer(a);
@import "./type" layer(a);
@import "./btn" layer(a);
@import "./page-content" layer(a);
@import "./animations" layer(a);

@import "./compositions/reel" layer(compositions);
@import "./vendore/glide-slider" layer(vendore);
@import "./blocks/featured-cases" layer(blocks);
@import "./blocks/logo-carousel" layer(blocks);

@plugin "@tailwindcss/typography";

@source inline("order-1 order-2 order-3 order-4");

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-*: initial;
    --color-primary-glare: #6AC0A3;
    --color-primary: #2BA079;
    --color-primary-shade: #157957;
    --color-secondary-glare: #FFA1A9;
    --color-secondary: #FD5B68;
    --color-secondary-shade: #F0414F;
    --color-white: #FFFFFF;
    --color-light-glare: #FDF9F7;
    --color-light: #F9EDE6;
    --color-light-shade: #F5E1D5;
    --color-dark-glare: #245E69;
    --color-dark: #113B43;
    --color-dark-shade: #09252A;
    --color-black: #000000;

    --text-*: initial;
    --text-xxs: .8125rem;
    --text-xs: .875rem;
    --text-sm: .9375rem;
    --text-base: 1rem;
    --text-100: var(--size-100);
    --text-200: var(--size-200);
    --text-250: var(--size-250);
    --text-300: var(--size-300);
    --text-350: var(--size-350);
    --text-400: var(--size-400);
    --text-450: var(--size-450);
    --text-500: var(--size-500);
    --text-550: var(--size-550);
    --text-600: var(--size-600);
    --text-650: var(--size-650);
    --text-700: var(--size-700);
    --text-750: var(--size-750);
    --text-800: var(--size-800);
    --text-850: var(--size-850);
    --text-900: var(--size-900);
    --text-950: var(--size-950);

    --spacing-xxs: .8125rem;
    --spacing-xs: .875rem;
    --spacing-sm: .9375rem;
    --spacing-100: var(--size-100);
    --spacing-200: var(--size-200);
    --spacing-300: var(--size-300);
    --spacing-400: var(--size-400);
    --spacing-500: var(--size-500);
    --spacing-600: var(--size-600);
    --spacing-700: var(--size-700);
    --spacing-750: var(--size-750);
    --spacing-800: var(--size-800);
    --spacing-850: var(--size-850);
    --spacing-900: var(--size-900);
    --spacing-950: var(--size-950);
    --spacing-lg: var(--size-lg);
    --spacing-xl: var(--size-xl);
    --spacing-xxl: var(--size-xxl);
    --spacing-huge: var(--size-huge);
    --spacing-container: var(--container-padding);
    --spacing-gutter: var(--gutter);
    --0.3em: .3em;
    --0.5em: .5em;
    --0.8em: .8em;
    --1em: 1em;
    --1.5em: 1.5em;
    --2em: 2em;
    --2.5em: 2.5em;
    --3em: 3em;


    --leading-*: initial;
    --leading-none: 1;
    --leading-flat: 1.1;
    --leading-tight: 1.25;
    --leading-relax: 1.40;
    --leading-normal: 1.5;
    --leading-loos: 1.7;

    --radius-custom: .6rem 2rem;

    --animate-move-left: move-left 1s ease-in-out infinite;

    --animate-fade-in: fade-in 1s ease-in-out;

    @keyframes fade-in {
        from{
            opacity: 0;
        }
        to{
            opacity: 100;
        }
    }

    --font-*: initial;
    --font-base: 'Gilroy','Helvetica','Arial','Lucida','sans-serif';
    --font-symbols: 'MaterialSymbolsOutlined', sans-serif;

    --breakpoint-2xl: 1800px;
}

@utility wrapper {
    padding-left: calc(((100% - var(--container-width)) / 2) - var(--gutter));
    padding-right: calc(((100% - var(--container-width)) / 2) - var(--gutter));
    border-left: var(--gutter) solid transparent;
    border-right: var(--gutter) solid transparent;
}

@utility flow-y {
    & > * + *{
        margin-block-start: var(--flow-space, 1em);
    }
}

@utility flow-x {
    & > * + *{
        margin-inline-start: var(--flow-space, 1em);
    }
}

@utility full-bleed {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
}

@utility image-overlay {
    position: relative;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
        mix-blend-mode: color;
        background-color: var(--color-primary);
        opacity: .20;
    }
}

@utility auto-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-size, var(--spacing-900)), 1fr));
}